* {
    margin: 0;
    padding: 0;
}
html {
    font-size: var(--font-size-base);
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: var(--line-height-base);
}
main, .bg {
    background: var(--bg-color);
    color: var(--text-color);
}
body, .bg-1 {
    background: var(--bg-color-1);
    color: var(--text-color-1);
}
.bg-2 {
    background: var(--bg-color-2);
    color: var(--text-color-2);
}
.bg-3 {
    background: var(--bg-color-3);
    color: var(--text-color-3);
}
a {
    text-decoration: none;
}
a:link {
    color: var(--link-color);
}
a:visited {
    color: var(--link-color-1);
}
a:hover {
    color: var(--link-color-2);
    cursor: pointer;
}
a:active {
    color: var(--link-color-3);
    cursor: pointer;
}
hr {
    border: none;
    border-bottom: 2px solid var(--bg-color-2);
    margin: var(--unit-2) 0;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-3);
}
h1, .h1 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
}
* + h1, * + .h1 {
    margin-top: var(--unit-1);
}

h2, .h2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
}
* + h2, * + .h2 {
    margin-top: var(--unit-2);
}
h3, .h3 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
}
* + h3, * + .h3 {
    margin-top: var(--unit-2);
}
h4, .h4 {
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
}
* + h4, * + .h4 {
    margin-top: var(--unit-2);
}
h5, .h5 {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
}
* + h5, * + .h5 {
    margin-top: var(--unit-2);
}
h6, .h6 {
    font-size: var(--font-size-6);
    line-height: var(--line-height-6);
}
* + h6, * + .h6 {
    margin-top: var(--unit-3);
}
p, .p {
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin-bottom: var(--unit-3);
}
* + p, * + .p {
    margin-top: var(--unit-3);
}
pre, .small {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
}
main {
    padding: var(--unit);
    padding-bottom: var(--unit-1);
}
section {
    margin-bottom: var(--unit);
}
input, textarea, select, button, input[type=reset], input[type=submit], fieldset {
    display: block;
    font: inherit;
    line-height: inherit);
    box-sizing: border-box;
    border: none;
    padding: var(--unit-5) var(--unit-4);
    border-radius: var(--unit-5);
}
fieldset {
    padding: var(--unit);
    margin-bottom: var(--unit-2);
    border: 2px solid var(--bg-color-2);
}
fieldset legend {
    padding: 0 var(--unit-5);
}
input[type=radio], input[type=checkbox] {
    display: inline-block;
    padding: var(--unit-4);
    position: relative;
    vertical-align: text-top;
    cursor: pointer;
    margin-right: var(--unit-5);
}
input[type="checkbox"], input[type="checkbox"] + label, input[type="radio"], input[type="radio"] + label {
    cursor: pointer;
}
input[type=radio], input[type=radio]:checked:after {
    border-radius: 50%;
}
input[type=radio]:checked:after, input[type=checkbox]:checked:after {
    content: "";
    display: block;
    position: absolute;
    top: var(--unit-5);
    left: var(--unit-5);
    width: var(--unit-4);
    height: var(--unit-4);
}
input[type=checkbox]:checked:after {
    border-radius: var(--unit-6);
}
button, input[type=reset], input[type=submit], .button {
    cursor: pointer;
    border: none;
    padding: var(--unit-5) var(--unit-2);
}
.button {
    display: inline-block;
    border-radius: var(--unit-5);
}
input[type=file] {
    font-size: 16px;
    line-height: 0;
}
input, input:focus, textarea, select, datalist {
    outline: none;
    -webkit-appearance: none;
}
select:not([multiple]) {
    padding-right: 2rem;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 1rem top 0.9rem, right 0.75rem top 0.9rem;
    background-size: 0.25rem 0.25rem, 0.25rem 0.25rem;
}
textarea {
    font: inherit);
    display: block;
    resize: none;
}
textarea.xl { height: 20rem; }
textarea.l { height: 12rem; }
textarea { height: 8rem; }
textarea.s { height: 6rem; }
textarea.xs { height: 4rem; }


.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.uppercase { text-transform: uppercase; }

table, thead, tbody, tfoot, tr, th, td {
    display: block;
}
tr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    align-items: center;
    border-radius: var(--unit-5);
    margin: var(--unit-5) 0;
    padding: var(--unit-5);
}

.container {
    position: relative;
    display: block;
    clear: both;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

.grid-2,
.grid-221,
.grid-321 {
    display: grid;
    column-gap: var(--unit);
    row-gap: var(--unit);
}
.grid-2 > *, .grid-221 > *, .grid-321 > * {
    grid-column: span 1;
}
.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-221,
.grid-321,{
    grid-template-columns: repeat(1, 1fr);
}

@media screen and (max-width: 599px)  {

}
@media screen and (min-width: 600px) {
    tbody tr {
        margin: var(--unit-5) 0;
    }
    .grid-221, .grid-321 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 900px) {
    .grid-221 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-321 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1200px) {
    input[type=radio], input[type=checkbox] {
        vertical-align: sub;
    }
}
@media screen and (min-width: 1800px) {

}

